#home #home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100vh;
  }
  #home .contain{
    color: #639;
    height: 5rem;
    margin-top: -5vh;
    letter-spacing: 0;
    line-height: 1.275;
    font-weight: 600;
    font-size: 1.9rem;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }