.container1{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: #f2f2f2;
  height: 100vh;
  /* border: 4px solid black; */
}
.container1 .form {
  /* border: 4px solid black; */
  margin-top: 10vh;
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #f2f2f2;
  color: rgb(44, 43, 43);
  /* box-shadow: 20px 20px 30px rgba(0, 0, 0, .05); */
  width: 22rem;
  background-clip: border-box;
}
.brandname{
  color: #639;
  height: 5rem;
  margin-top: -5vh;
  letter-spacing: 0;
  line-height: 1.275;
  font-weight: 600;
  font-size: 1.9rem;
  font-family: Roboto, sans-serif;
  display: flex;
   align-items: center;
  justify-content: center;
}
.wlcb{
  color: #639;
  height: 3rem;
  letter-spacing: 0;
  line-height: 1.275;
  font-weight: 300;
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header {
  background-clip: border-box;
  border-radius: 0.75rem;
  color: #639;
  /* box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,rgba(33,150,243,.4); */
  /* height: 7rem; */
  letter-spacing: 0;
  line-height: 1.4rem;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;

}

.inputs {
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
  width: 100%;
  height: 2.75rem;
  position: relative;
}

.input {
  /* border: 1px solid rgba(128, 128, 128, 0.61); */
  border: 1.5px dotted #639;
  outline: 0;
  color: rgb(44, 43, 43);
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.25rem;
  padding: 0.75rem;
  background-color: transparent;
  border-radius: .375rem;
  width: 100%;
  height: 100%;
}

.input:focus {
  /* border: 1px solid #1e88e5; */
  border: 1.5px dotted #639;

}

.checkbox-container {
  margin-left: -0.625rem;
  display: inline-flex;
  align-items: center;
}

.checkbox {
  position: relative;
  overflow: hidden;
  padding: .55rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.027);
  height: 15px;
  width: 15px;
}

.checkbox input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-text {
  cursor: pointer;
}
.form--submit {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color: white;
  border: 1px dashed #639;
  cursor: pointer;
}

.form--submit:hover {
  color: #639;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
  transition: 0.5s;
}

.signup-link {
  line-height: 1.5;
  font-weight: 300;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-link a, .forget {
  line-height: 1.5;
  font-weight: 700;
  font-size: .875rem;
  margin-left: .25rem;
  color: #639;
}

.forget {
  text-align: right;
  font-weight: 600;
}
/* .sigin-btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
  padding: .75rem 1.5rem;
  background-color: #1e88e5;
  background-image: linear-gradient(to top right,#1e88e5,#42a5f5);
  border-radius: .5rem;
  width: 100%;
  outline: 0;
  border: 0;
  color: #fff;
} */