*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: #f2f2f2;
  height: 100vh;
}
#signupimg{
  width: 30%;
  height: 100%;
}
#signupimg img{
  width: 100%;
  height: 100%;
}
.formcont{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.form {
    background:#f2f2f2;
    padding:  2.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    align-items: center;
    height: 87%;
    /* background: linear-gradient(#212121, #212121) padding-box, */
              /* linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box; */
    /* box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.75); */
    /* width: 50%; */
  }
  .wlc{
    color: #639;
    height: 4rem;
    letter-spacing: 0;
    line-height: 1.175;
    font-weight: 600;
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 2vh; */
  }
  .wlcin{
    color: #639;
    height: 4rem;
    letter-spacing: 0;
    line-height: 1.175;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    /* padding-bottom: 2vh; */
  }
  
  .signup {
    color: #639;
    /* text-transform: uppercase; */
    /* letter-spacing: 0.5px; */
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1em;
    text-align: left;
  }
  
  .form--input {
    border: 1px solid #639;
    outline: none;
  /* outline: 0; */
  color: black;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.25rem;
  padding: 0.75rem;
  background-color: transparent;
  border-radius: .375rem;
  margin-bottom: 1em;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  }
  
  .form--input:focus {
    border: 2px dotted #639;
    outline: none;
  }
  
  .form--marketing {
    display: flex;
    margin-bottom: 1.25em;
    align-items: center;
  }
  
  .form--marketing > input {
    margin-right: 0.625em;
  }
  
  .form--marketing > label {
    color: grey;
  }
  
  .checkbox, input[type="checkbox"] {
    accent-color: #639;
  }
  
  .form--submit {
    width: 50%;
    padding: 0.625em;
    border-radius: 5px;
    margin-bottom: 2vh;
    color: white;
    background-image: linear-gradient(to top right,#212121,#639);
    border: 1px dashed #639;
    cursor: pointer;
  }
  
  .form--submit:hover {
    color: white;
    background-image: linear-gradient(to top right,#639,#212121);
    border: 1px dashed #639;
    cursor: pointer;
    transition: 1s;
  }