.buycont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buyform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }
  .buyform .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 6px;
  }
  
  .buyform .form label {
      position: relative;
  }
  
.buyform label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .buyform label .input + span {
    color: #639;
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .buyform label .input:placeholder-shown + span {
      top: 12.5px;
      font-size: 0.9em;
    }
    
    .buyform label .input:focus + span,
    .buyform label .input:valid + span {
    color: #639;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .buyform .input {
    font-size: medium;
  }
  
  
  @keyframes pulse {
      from {
          transform: scale(0.9);
          opacity: 1;
        }
    
    to {
        transform: scale(1.8);
        opacity: 0;
    }
} 
.payments .details {
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 0px;
    gap: 5px;
  }
  
  .payments .details span:nth-child(odd) {
    font-size: 12px;
    font-weight: 600;
    color: #639;
    margin: auto auto auto 0;
  }
  
  .payments .details span:nth-child(even) {
    font-size: 13px;
    font-weight: 600;
    color: #639;
    margin: auto 0 auto auto;
  }

/* .buyform  .signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.buyform .signin {
  text-align: center;
}

.buyform  .signin a:hover {
  text-decoration: underline #639;
}

.buyform .signin a {
  color: #639;
}
 */

 
  /* .checkout .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: rgba(16, 86, 82, .5);
  }
  
  .price {
    position: relative;
    font-size: 22px;
    color: #2B2B2F;
    font-weight: 900;
  } */
  
  /* .checkout .checkout-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 36px;
    background: rgba(16, 86, 82, .55);
    box-shadow: 0px 0.5px 0.5px rgba(16, 86, 82, .75), 0px 1px 0.5px rgba(16, 86, 82, .75);
    ;
    border-radius: 7px;
    border: 1px solid rgb(16, 86, 82);
    ;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }  */


/* .submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
} */

/* .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
}
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }  */