.navcont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #639;
}
#navcname h1{
    font-family: Inter;
    font-size: 57.89px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    color: #513173;
}
#navmiddle{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}
.navcont Link{
    text-decoration: none;
    color: #639;
}
#navlink{
    display: flex;
    justify-content: space-around;
    gap: 3vw;
}
.navsignlink :focus{
    border: 1px solid black;
    padding: 10px;
}
.navsignlink :hover{
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(to top right,#639,#272525);
}